Markus QUARITSCH <markus.quaritsch@tugraz.at>       <quaritsch@ivt.tugraz.at>
Stefan MEYER <stefan.meyer@student.tugraz.at>
Harald MARTINI <harald.martini@ivt.tugraz.at>       <martini@ivt.tugraz.at>
Franz KOBER josef<franz.josef.kober@ivt.tugraz.at>
Franz KOBER josef<franz.josef.kober@ivt.tugraz.at>  <ko6er.franz@gmail.com>
Michael KRISPER <michael.krisper@tugraz.at>
Michael KRISPER <michael.krisper@tugraz.at>         <michael.krisper@gmail.com>
Michael KRISPER <michael.krisper@tugraz.at>         <michaelkrisper@fvkmb037.vkmthd.tugraz.at>
Stefan BRANDT <brandt@ivt.tugraz.at>                <Brandt@ivt.tugraz.at>
Raphael LUZ <luz@ivt.tugraz.at>                     <Luz@ivt.tugraz.at>
Glenn Zarb <glenn@ascentsoftware.eu>
Glenn Zarb <glenn@ascentsoftware.eu>                <STC\GZ1>
Glenn Zarb <glenn@ascentsoftware.eu>                “Glenn <“glenn@ascentsoftware.eu”>
Terry Burns <Terry.Burns@ricardo.com>
Kostis Anagnostopoulos <ankostis@gmail.com>
Kostis Anagnostopoulos <ankostis@gmail.com>         <konstantinos.anagnostopoulos@ext.jrc.ec.europa.eu>
Raphael Kalchgruber <kalchgruber@ivt.tugraz.at>
Vasilis Kouliaridis <vasilis.k@emisia.com>          <baboulas8@gmail.com>