<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
		autoReload="true"
		throwExceptions="false"
		internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
		<targets>
			<target xsi:type="Console" name="ConsoleLogger" error="true" />
			<target xsi:type="File" name="LogFile" fileName="${basedir}/logs/log_${threadid}.txt"
					layout="${longdate} [${processid}:${threadid}@${machinename}] ${callsite} ${level:uppercase=true}: ${message}" />
		</targets>
		<rules>
			<logger name="*" minlevel="Warn" writeTo="LogFile" />
		</rules>
	</nlog>
</configuration>