<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VECTO3GUI2020.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VECTO3GUI2020.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VECTO3GUI2020.Properties.Settings>
            <setting name="EngineeringMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="WriteModalResults" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Validate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SerializeVectoRunData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultOutputPath" serializeAs="String">
                <value />
            </setting>
        </VECTO3GUI2020.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <VECTO3GUI2020.Properties.Settings>
            <setting name="ModalResults1Hz" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActualModalData" serializeAs="String">
                <value>False</value>
            </setting>
        </VECTO3GUI2020.Properties.Settings>
    </applicationSettings>
</configuration>