<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="2018.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="Ninject" version="3.3.4" targetFramework="net45" />
  <package id="Ninject.Extensions.Factory" version="3.3.3" targetFramework="net45" />
  <package id="Ninject.Extensions.NamedScope" version="3.3.0" targetFramework="net45" />
  <package id="NLog" version="4.5.11" targetFramework="net45" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net45" />
  <package id="ValueInjecter" version="3.1.1.5" targetFramework="net45" />
</packages>